body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: wrap row;
  min-height: 100vh;
  margin-left: 100px;
  margin-right: 100px;
}

#pt1 {
  width: 30%;
  background: black;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

#pt2 {
  flex: 1;
  background: white;
  color: black;
  padding: 20px;
  box-sizing: border-box;
}

#short-description {
  color: blue;
}
