html {
font-size: 1rem;
}

body {
  margin: 0;
}

div {
  padding: 10px;
  box-sizing: border-box;
}

p {
font-size: 0.6rem;
}

h2 {
font-size: 1.2rem;
}

h4 {
font-size: 0.95rem;
}

 h1, h2, h3, h4, h5, p {
overflow-wrap: break-word;
 }

#profile-picture {
border-radius: 50%;
  object-fit: cover;
  width: 60%;
  max-width: 200px;
}

#container {
  display: flex;
}

#pt1 {
  width: 40%;
  background: black;
  color: white;
}

#pt2 {
  background: white;
  color: black;

#short-description {
  color: blue;
}

